<% layout('layout') %>
<p class="margin-top-10 margin-bottom-20">
                                Aliquam sem velit, rhoncus sed arcu eu viverra. Suspendisse lacus posuere ultricies turpis.
                            </p>